@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Rubik:wght@400;700&display=swap');

* {
  box-sizing: border-box;

  --regular-typeface: 'Rubik', sans-serif;
  --accent-typeface: 'Noto Serif', serif;

  --main-color: #fafafa;
  --secondary-color: #485;
  --accent-color: rgb(24, 187, 255);
  --back-color: #020202;
  --panel-color: #0000002f;
}

body {
  font-family: var(--regular-typeface);
  font-style: normal;
  font-weight: 400;

  color: var(--main-color);
  background-color: var(--back-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--accent-typaface);
  font-weight: 700;
}

header {
  position: fixed;
  width: 100%;
  z-index: 12;
  background-color: var(--panel-color);
}

.header_container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

nav a {
  font-size: 16px;
  text-decoration: none;
  margin-right: 25px;
  padding: 16px 0;
  color: var(--secondary-color);
}

nav a[active] {
  font-weight: 700;
  color: var(--accent-color);
}

main {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#ffffffaa, #999999aa);

  .container {
    position: relative;
    height: 100%;
    overflow: hidden;

    &-back {
      height: 100vh;
      width: auto;
    }

    &-video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 55vh;
      aspect-ratio: 16/10;
      z-index: 0;
    }

    &-tv {
      pointer-events: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100vh;
      width: auto;
      z-index: 1;

      & img {
        height: 100%;
        object-fit: cover;
      }
    }

    &-foreplane {
      pointer-events: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: auto;
      z-index: 2;
      filter: blur(2px);

      & img {
        height: 100%;
        object-fit: cover;
      }
    }

    .controls {
      position: absolute;
      bottom: 10vh;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }
  }
}

.animated-grain {
  isolation: isolate;

  &:before {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../public/images/noise.png');
    animation: twist 250ms infinite;
    mix-blend-mode: hard-light;
    opacity: 50%;
  }

  @keyframes twist {
    0% {
      background-position: 0 0;
    }

    25% {
      background-position: 75% 25%;
    }

    50% {
      background-position: 50% 75%;
    }

    75% {
      background-position: 75% 15%;
    }

    100% {
      background-position: 0 0;
    }
  }
}

.animated-hueflow {
  animation: hueflow 5000ms infinite;

  * {
    animation: hueflow 770ms infinite;
  }
}

@keyframes hueflow {
  0% {
    filter: hue-rotate(0);
  }

  25% {
    filter: hue-rotate(8deg);
  }

  25.5% {
    filter: hue-rotate(92deg) brightness(1.1);
  }

  26% {
    filter: hue-rotate(9deg);
  }

  50% {
    filter: hue-rotate(-3deg);
  }

  51% {
    filter: hue-rotate(45deg) brightness(1.1);
  }

  52% {
    filter: hue-rotate(0);
  }

  75% {
    filter: hue-rotate(8deg);
  }

  100% {
    filter: hue-rotate(0);
  }
}